.hide {
    display: none;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 320px;
    max-width: 760px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.section {
    padding: 96px 0 96px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    position: relative;
}

/* Nav */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-ul {
    display: none;
}

.logo-top, .logo-top span {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* All links */
.logo-top, .nav-link, .address-link, .modal-menu-link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-top span {
    color: #2E2F42;
}

.nav-item:not(:last-child) {
    padding-right: 40px;
}

.nav-item:first-child .nav-link {
    color: #404bbf;
}

.nav-item:first-child .nav-link:after {
    content: "";
    display: block;
    border-radius: 2px;
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    position: absolute;
}

/* Address */

.address {
    display: none;
}

.burger-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: none;
    background: inherit;
    cursor: pointer;
}

/* Modal menu */
.mobile-menu {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    background: #FFFFFF;
    padding: 32px 16px 40px;
    transform: translateX(100%);
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
}

.modal-menu-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mobile-menu.is-open, .backdrop.is-open {
    transform: translateX(0);
}


.modal-address-list {
    padding-bottom: 10px;
}

.modal-address-item {
    margin-top: 24px;
}

.modal-menu-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.modal-menu-item:first-child .modal-menu-link {
    color: #404BBF;
}

.modal-menu-item {

}

.mobile-menu .social-list {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* Section 1 Hero */

.section-hero {
    padding: 72px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    min-width: 320px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(./../images/people-office.jpg);
}

.hero-title {
    display: block;
    margin: 0 auto;
    max-width: 216px;

    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Button order*/
.btn-order, .modal-submit {
    background-color: #4D5AE5;
    color: #FFF;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 196px;
    min-height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
}

.modal-submit {
    display: inline-block;
}

.btn-order {
    margin: 72px auto 0;
}

.btn-order:hover,
.btn-order:focus,
.modal-submit:hover,
.modal-submit:focus,
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}

/* Section 2 Features */

.features-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-item {
    margin-bottom: 72px;
}

.feature-item:last-child {
    margin-bottom: 0;
}

.feature-icon {
    display: none;
}

.features-svg {
    margin: 24px 0 24px;
}

.feature-subtitle {
    margin-bottom: 8px;

    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

.paragraph {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Section 3 Team  */
.section-team {
    background: #F4F4FD;
}

.team-title, .portfolio-title {
    color: #2E2F42;
    text-align: center;
    display: block;

    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    line-height: 1.11;
}

.ul-team, .portfolio-ui {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.team-item {
    margin-bottom: 72px;
    border-radius: 0 0 4px 4px;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
    margin-bottom: 0;
}

.team-subtitle, .portfolio-subtitle {
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-body {
    padding: 32px 0;
    margin: 0 auto;
}

.team-paragraph, .portfolio-paragraph {
    color: #434455;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-body .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-body .social-list-item, .mobile-menu .social-list-item {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parent:hover .social-list-link, .social-list-link:hover, .social-list-link:focus {
    background-color: #404bbf;
    border-radius: 50%;
}

.social-list-icon {
    fill: #f4f4fd;
}

/* Section 4 Portfolio */

.portfolio-subtitle {
    text-align: left;
    max-width: 360px;
}

.portfolio-ui {
    flex-wrap: wrap;
}

.overlay-text {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    position: absolute;
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
}

.overlay-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 288px;
}

.portfolio-item {
    margin-right: 24px;
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
}

.portfolio-item:hover {
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-body {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-paragraph {
    text-align: left;
    max-width: 360px;
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-paragraph {
    max-width: 264px;
}

/* Footer */
.footer {
    background-color: #2E2F42;
    color: white;
    padding: 96px 0 96px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

.footer-logo-link {

    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;

    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.footer-logo-link-span {
    color: #f4f4fd;
}

.footer-logo-paragraph {

    color: #F4F4FD;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-social {
    margin-top: 72px;
    width: 100%;
}

.footer-social .social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: #31d0aa;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.footer-subscribe {
    margin-top: 72px;
    max-width: 300px;
}

.input-subscribe-email {
    border-radius: 4px;
    border: 1px solid #FFF;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    background-color: transparent;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.input-subscribe-email::placeholder {
    color: #ffffff;
}

.subscribe-button {
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    width: 165px;
    display: flex;

    color: #FFF;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-paragraph {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.modal-icon-frame {
    fill: #ffffff;
    margin-left: 16px;
}

/* Modal */

.backdrop {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    min-width: 288px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.20),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #fcfcfc;
}

.modal-close-button {
    text-align: right;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-icon-close,
.modal-close-button:focus .modal-icon-close {
    fill: #ffffff
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.input-container {
    margin-bottom: 8px;
}

.input-comment-container {
    margin-bottom: 16px;
}

.input-agreement-container {
    margin-bottom: 24px;
}

.modal-input {
    width: 100%;
    padding: 11px 11px 11px 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.label-agreement {
    flex-direction: row;
    align-items: flex-start; /* Выравнивает элементы по вертикали */
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-agreement {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.agreement {
    margin: 0;
}

.modal-input.comment {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input.comment:focus {
    border-color: #4D5AE5;
}

.privacy-policy {
    color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-agreement {
    margin-right: 8px;
}

.modal-input-agreement:checked + .label-agreement .span-agreement {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.button-wrapper {
    text-align: center;
}


/** Media **/


@media only screen and (min-width: 760px) {

    /* Top logo */
    .logo-top {
        margin-right: 120px;
    }

    /* Nav */
    .nav-ul {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        padding-bottom: 24px;
        position: relative;
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.03em;
    }

    .nav-item:first-child .nav-link,
    .nav-link:active,
    .address-link:active {
        color: #404BBF;
    }

    .burger-button {
        display: none;
    }

    /* Address */
    .address {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .address-ul {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 12px;
    }

    .address-item {
        line-height: 14px;
        text-align: right;
    }

    .address-link {
        color: #434455;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.04em;
    }

    /* Section 1 Hero */
    .section {
        padding: 112px 0;
    }

    .section-feature {
        padding-top: 96px;
        padding-bottom: 24px;
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
    }

    .btn-order {
        margin: 36px auto 0;
    }

    /* Section 2 Features */
    .feature-subtitle {
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: left;
    }

    .features-ui {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .feature-item {
        max-width: 356px;

    }

    /* Section 3 Team  */
    .team-item, .team-item:last-child {
        margin-bottom: 64px;
    }

    .ul-team, .portfolio-ui {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    /* Footer */
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .footer-social {
        width: auto;
    }

    .footer-logo {
        text-align: left;
        max-width: 220px;
    }

    .footer-paragraph {
        text-align: left;
    }

    .form-subscribe {
        flex-direction: row;
    }

    .footer-subscribe {
        max-width: none;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
        min-width: 1158px;
    }

    /* Top logo */
    .logo-top {
        margin-right: 76px;
    }

    .address-ul {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .header-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    /* Section 1 Hero */
    .section {
        padding: 120px 0 120px;
    }

    .section-hero {
        min-width: 320px;
        padding: 188px 0;
    }

    .btn-order {
        margin: 48px auto 0;
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }


    .features-ui {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Section 2 Features */
    .feature-subtitle, .portfolio-subtitle {
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .feature-item {
        max-width: 264px;
        margin-bottom: 0;
    }

    .feature-icon {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
        height: 112px;
    }

    /* Section 3 Team  */
    .ul-team, .portfolio-ui {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

    }

    .ul-team {
        flex-wrap: nowrap;
        gap: 24px;
    }

    /* Section 4 Portfolio */
    .overlay-wrapper {
        overflow: hidden;
        position: relative;
        max-width: 360px;
    }

    .portfolio-item {
        margin: 0;
    }

    .portfolio-item:nth-child(3n) {
        margin-right: 0;
    }

    .portfolio-item:nth-last-child(-n+3) {
        margin-bottom: 0;
    }


    /* Footer */
    .footer {
        padding: 100px 0 100px;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-logo-link {
        display: inline-block;
        margin-bottom: 16px;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        text-align: left;
        line-height: 1.17;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .footer-container {
        display: flex;
        justify-content: left;
        align-items: baseline;
    }

    .form-subscribe {
        display: flex;
        gap: 24px;
    }

    .footer-social {
        margin-right: 80px;
    }

    .footer-social .social-list {
        display: flex;
        gap: 16px;
    }

}
