h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 320px;
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding: 96px 0 96px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 18px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-ul {
    display: none;
}

/* Top logo */
.logo-top {
    margin-right: 76px;
}

.logo-top, .logo-top span {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* All links */
.logo-top, .nav-link, .address-link, .modal-menu-link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-top span {
    color: #2E2F42;
}

/* Top nav */

.nav-item:not(:last-child) {
    padding-right: 40px;
}


/* Address */

.address {
    display: none;
}

.burger-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: none;
    background: inherit;
    cursor: pointer;
}

/* Modal menu */
.mobile-menu {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    background: #FFFFFF;
    padding: 72px 16px 40px;
    transform: translateX(100%);
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
}

.modal-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.backdrop.is-open {
    display: block;
}


.modal-menu-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.modal-menu-item:first-child .modal-menu-link {
    color: #404BBF;
}

.modal-address-item {
    margin-bottom: 24px;
}

.modal-address-link {
    color:  #434455;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.modal-address-item:first-child .modal-address-link
{
    color:  #4D5AE5;
}

.modal-address-item:last-child {
    margin-bottom: 0;
}

.mobile-menu .social-list {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* Section 1 Hero */

.section-hero {
    max-width: 320px;
    padding: 72px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    display: block;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/mobile/hero/people-office.jpg);
}

.section-hero .container {
    padding: 0;
}

@media only screen and (min-device-pixel-ratio: 2) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/mobile/hero/people-office@2x.jpg);
    }
}

.hero-title {
    padding: 0 52px;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/* Button order*/
.btn-order, .modal-submit {
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    letter-spacing: 0.04em;
    display: block;
    border: none;
    border-radius: 4px;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-submit {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover,
.btn-order:focus,
.modal-submit:hover,
.modal-submit:focus,
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}

/* Section 2 Features */

.section-feature {

}

.features-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.feature-icon {
    display: none;
}


.feature-subtitle  {
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-subtitle {
    color:  #2E2F42;

    /* Header 3 */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.feature-item .paragraph {
    color:#434455;
    max-width: 288px;
    /* Body Medium */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.feature-item:last-child .paragraph {
    margin-bottom: 0;
}

/* Section 3 Team  */
.section-team {
    background: #F4F4FD;
    padding: 96px 0;
}

.team-title, .portfolio-title {
    color: #2E2F42;
    text-align: center;
    display: block;

    /* Header 2 */
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.ul-team, .portfolio-ui {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.portfolio-ui {
    gap: 48px;
}

.team-item {

    border-radius: 0 0 4px 4px;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.team-subtitle {
    color: #2E2F42;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-body {
    padding: 32px 0;
    margin: 0 auto;
}

.team-paragraph, .portfolio-paragraph {
    color: #434455;
    text-align: center;

    /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.team-body .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-body .social-list-item, .mobile-menu .social-list-item {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.social-list-link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parent:hover .social-list-link, .social-list-link:hover, .social-list-link:focus {
    background-color: #404bbf;
    border-radius: 50%;
}

.social-list-icon {
    fill: #f4f4fd;
}

/* Section 4 Portfolio */
.portfolio-ui {

}

.portfolio-item {
    min-width: 288px;
    min-height: 400px;

}
.overlay-text {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    position: absolute;
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
}

.overlay-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 360px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
}

.portfolio-item:hover {
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-item-body {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-paragraph {
    text-align: left;
}

/* Footer */
.footer {
    background-color: #2E2F42;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-logo {

}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-align: left;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.footer-logo-link-span {
    color: #f4f4fd;
}

.footer-logo-paragraph {
    margin-bottom: 72px;
    color: #F4F4FD;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-social {

}

.footer-social .social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: #31d0aa;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.label-email {
    width: 100%;
}

.input-subscribe-email {
    min-width: 288px;
    border-radius: 4px;
    border: 1px solid  #FFF;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    height: 40px;
    background-color: transparent;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.input-subscribe-email::placeholder {
    color: #ffffff;
}

.subscribe-button {
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    display: flex;
    max-width: 165px;
    color:  #FFF;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-paragraph {
    color: #FFF;
    margin-bottom: 16px;

    /* Body Medium */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.modal-icon-frame {
    fill: #ffffff;
    margin-left: 16px;
}

/* Modal */

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition:
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    min-width: 288px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    z-index: 10;
    border-radius: 4px;
    box-shadow:
            0 2px 1px 0 rgba(0, 0, 0, 0.20),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 1px 1px 0 rgba(0, 0, 0, 0.14);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fcfcfc;
}

.modal-close-button {
    text-align: right;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover  .modal-icon-close,
.modal-close-button:focus  .modal-icon-close
{
    fill: #ffffff
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.input-container {
    margin-bottom: 8px;
}

.input-comment-container {
    margin-bottom: 16px;
}

.input-agreement-container {
    margin-bottom: 24px;
}

.modal-input {
    width: 100%;
    padding: 11px 11px 11px 38px ;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.label-agreement {
    flex-direction: row;
    align-items: flex-start; /* Выравнивает элементы по вертикали */
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-agreement {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.agreement {
    margin: 0;
}

.modal-input.comment {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input.comment:focus {
    border-color: #4D5AE5;
}

.privacy-policy {
    color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.modal-icon {
    position: absolute;
    top:50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-agreement {
    margin-right: 8px;
}

.modal-input-agreement:checked + .label-agreement .span-agreement {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}
@media only screen  and (min-width: 768px)  and (min-device-pixel-ratio: 2) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/tablet/hero/people-office@2x.jpg);
    }
}
@media only screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .section {
        padding: 120px 0 120px;
    }

    .burger-button {
        display: none;
    }

    .address-link {
        color: #434455;

        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16; /* 116.667% */
        letter-spacing: 0.04em;
    }

    .modal-address-item:last-child {
        margin-bottom: 0;
    }

    .address {
        display: block;
    }

    .nav {
        padding: 0;
        margin: 0;
    }

    .nav-ul {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        padding: 24px 0;
        position: relative;
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    .nav-link:hover, .nav-link:active, .address-link:hover, .address-link:active {
        color: #404BBF;
    }

    .nav-item:first-child .nav-link {
        color: #404bbf;
    }

    .nav-item:first-child .nav-link:after {
        content: "";
        display: block;
        border-radius: 2px;
        background-color: #404BBF;
        width: 100%;
        height: 4px;
        bottom: -1px;
        left: 0;
        position: absolute;
    }

    .address-item {
        margin-bottom: 12px;
    }

    .address-item:last-child {
        margin-bottom: 0;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .section-hero {
        max-width: 760px;
        padding: 112px 0;

        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/tablet/hero/people-office@2x.jpg);
    }
    .hero-title {
        display: block;
        margin: 0 auto;
        padding: 0 130px;

        text-align: center;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .btn-order {
        margin-top: 36px;
    }

    /* Section 2 Features */
    .section-feature {
        padding: 96px 0;
    }

    .features-ui {
        display: flex;
        gap: 72px 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-item {
        max-width: 356px;
    }
    .feature-icon {
        display: none;
    }

    .feature-item .paragraph {
        max-width: 356px;
        margin: 0;
    }

    .feature-subtitle {
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        text-align: left;

        font-style: normal;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; /* 111.111% */
        letter-spacing: 0.02em;
    }

    .feature-item .paragraph {
        color: #434455;
        max-width: none;
        /* Body Medium */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
    }

    /* Section 3 Team */
    .section-team {
        padding: 96px 0;
    }

    .ul-team, .portfolio-ui {
        flex-direction: row;
        gap: 64px 24px ;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        border-radius: 0 0 4px 4px;
        background: #FFF;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }

    /* Section 4 Portfolio */
    .section-portfolio {
        padding: 96px 0;
    }

    .portfolio-title {
    }

    .portfolio-title {
        gap: 72px 24px;
    }

    .footer {
        padding: 96px 0 ;
    }

    .footer-container {
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        gap: 72px 24px;
        text-align: left;
        flex-wrap: wrap;
        padding: 0 108px;
    }

    .footer-logo-paragraph {
        max-width: 264px;
        margin: 0;

        color: #F4F4FD;

        /* Body */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
    }

    .footer-social .social-list  {
        margin: 0;
    }

    .footer-subscribe {
        max-width: 453px;
    }
    .form-subscribe  {

       flex-direction: row;
        justify-content: space-between;
    }

    .input-subscribe-email {
        width: 264px;
    }

    .modal {
        max-width: 408px;
    }

    .modal {
        min-width: 408px;
    }



}
@media only screen  and (min-width: 1158px)  and (min-device-pixel-ratio: 2) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/desktop/hero/people-office@2x.jpg);
    }
}
@media only screen and (min-width: 1158px) {

    .section {
        padding: 120px 0;
    }

    .container {
        max-width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .header-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .address-ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-item {
        margin: 0;
    }

    .section-hero {
        max-width: 1158px;
        padding: 188px 0;

        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/desktop/hero/people-office.jpg);
    }

    .btn-order {
        margin-top: 48px;
    }

    .hero-title {
        padding: 0 300px;
    }

    .ul-team {
        gap: 0 24px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .features-ui {
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px 0;
    }

    .feature-item {
        max-width: 264px
    }

    .features-svg {
        margin: 24px 0 24px;
    }

    .feature-icon {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
        height: 112px;
    }
    .feature-subtitle {

        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2; /* 120% */
        letter-spacing: 0.02em;
    }

    .portfolio-ui {
        gap: 48px 24px;
    }

    .section.footer {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        justify-content: left;
        align-items: baseline;
        gap: normal;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .footer-paragraph {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
    }

    .footer-social {
        margin-right: 80px;
    }

}